/* General styling */
html {
    font-size: x-large;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #333;
    text-align: left;
}

p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1em;
    color: #555;
    text-align: justify;
}

a {
    color: #749c5f;
    transition: color 0.3s;
}

a:hover {
    color: #48782e;
}

.special-green {
    color: #749c5f;
    font-weight: bold;
}

.container {
    margin: 2em auto;
    padding: 2em;
    max-width: 800px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column;
}



/* Blinking text animation */
.blinking-text {
    /* animation, animation-duration, animation-timing-function, animation-fill-mode */
    animation: typing 2s steps(30, end) forwards,
               blinking-cursor 1s infinite;
    border-right: 2px solid;
    max-width: fit-content;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    /* based on https://blog.hubspot.com/website/typing-animation-css */
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking-cursor {
    0% {border-right-color: transparent}
    50% {border-right-color: black}
    100% {border-right-color: transparent}
}



/* Responsive styling */
@media (max-width: 768px) {
    html {
        font-size: large; /* Smaller text on smaller screens */
    }

    img {
        width: 100%; /* Make images responsive */
        height: auto; /* Maintain aspect ratio */
        max-width: 400px; /* Limit maximum size to fit mobile devices */
    }
}

@media (max-width: 480px) {
    html {
        font-size: medium; /* Even smaller text for very small screens */
    }

    section div {
        padding: 0 10px; /* Add padding to keep text from the edges */
    }

    .container { 
        padding: 1em;
        margin: 0;
    }
}



/* Game of Life */
#gameCanvas {
    border: 1px solid black;
    box-sizing: border-box;
}
